@font-face {
    font-family: "Ysabeau Office";
    src: url("fonts/YsabeauOffice.ttf");
}
@font-face {
    font-family: "Ysabeau Office Italic";
    src: url("fonts/YsabeauOffice-Italic.ttf");
}

body {
    background-color:#000;
}
header {
    display:flex;
    color:#fff;
    margin: 0 0 0 1vw;
    column-gap: 2vw;
    font: normal 1.2vw "Ysabeau Office";
    position:sticky;
    top:0;
}
